@model IEnumerable<Toyota.Data.Entities.ModificationColors>

@{
    String aId = "accordionModificationColor" + ViewBag.OpenModification.Id;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a asp-action="ModelModifications" asp-route-id="@ViewBag.OpenModification.ModelId">Back</a>

<h1>Modification: @ViewBag.OpenModification.Name</h1>

@foreach (var modificationColor in Model)
{
    <h5 onclick="document.getElementById('car-image').src = '@modificationColor.ImgUrl'">
        <img src="@modificationColor.Color.ImgUrl" alt="@modificationColor.Color.Name" style="border-radius:20px; width: 30px; height: 30px;" />
        @modificationColor.Color.Name
    </h5>
}

<div>
    <!-- Триггер/Открыть модальный -->
    <button style="border-radius: 20px; margin: 0 auto;" class="btn btn-outline-info" onclick="document.getElementById('myModal-create-modification-color').style.display = 'block'">Create</button>
</div>

<div id="car" style="margin-top: 15px;">
    <img id="car-image" src="@ViewBag.OpenModification.ImgUrl" class="d-block w-50">
</div>

<!-- Модальный -->
<div id="myModal-create-modification-color" class="modal">
    <!-- Модальное содержание -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="document.getElementById('myModal-create-modification-color').style.display = 'none';">&times;</span>
            <h2>Create Modification Color</h2>
        </div>
        <form asp-action="CreateModificationColor" enctype="multipart/form-data">
            <div class="modal-body">
                <input type="hidden" name="ModificationId" value="@ViewBag.OpenModification.Id" />

                <div class="form-group input-group-sm">
                    <label class="control-label">Slug</label>
                    <input name="Slug" class="form-control" />

                    <label class="control-label">Colors</label>
                    <select name="ColorId" class="form-control" asp-items="@ViewBag.Colors"></select>

                    <label class="control-label">Image</label>
                    <input name="file" type="file" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    /* Модальный (фон) */
    .modal {
        display: none; /* Скрыто по умолчанию */
        position: fixed; /* Оставаться на месте */
        z-index: 1; /* Сидеть на вершине */
        left: 0;
        top: 0;
        width: 100%; /* Полная ширина */
        height: 100%; /* Полная высота */
        overflow: hidden;
        background-color: rgb(0,0,0); /* Цвет запасной вариант */
        background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
    }

    /* Модальное содержание/коробка */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% сверху и по центру */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
    }

    /* Кнопка закрытия */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>